<!-- [HEADER] -->
<div class="invoice-wrapper">

{{#if irn}}
<div class="einvoice-block">
  <div class="einvoice-left">
    <div class="einvoice-badge">e-Invoice</div>
    <table class="einvoice-table">
      <tr>
        <td class="ei-label">IRN</td>
        <td class="ei-colon">:</td>
        <td class="ei-value irn-value">{{irn}}</td>
      </tr>
      <tr>
        <td class="ei-label">Ack No.</td>
        <td class="ei-colon">:</td>
        <td class="ei-value">{{ack_no}}</td>
      </tr>
      <tr>
        <td class="ei-label">Ack Date</td>
        <td class="ei-colon">:</td>
        <td class="ei-value"><strong>{{format_date ack_date}}</strong></td>
      </tr>
    </table>
  </div>
  {{#if qr_code_data}}
  <div class="einvoice-right">
    <img class="einvoice-qr" src="{{qr_code_data}}" alt="e-Invoice QR Code" />
  </div>
  {{/if}}
</div>
{{/if}}

<div class="invoice-title-row">Tax Invoice</div>

<table class="header-outer">
  <tbody>
    <tr>
      <!-- LEFT COLUMN: 3 stacked address blocks -->
      <td class="addr-col">

        <!-- Block 1: Company -->
        <div class="addr-block addr-company">
          <strong class="company-name">{{company.name}}</strong>
          {{#if company.address_line1}}<div class="addr-line">{{company.address_line1}}</div>{{/if}}
          {{#if company.address_line2}}<div class="addr-line">{{company.address_line2}}</div>{{/if}}
          {{#if company.city}}<div class="addr-line">{{company.city}}{{#if company.state}}, {{company.state}}{{/if}}{{#if company.pincode}} - {{company.pincode}}{{/if}}</div>{{/if}}
          <div class="addr-field-row">
            <span class="addr-field-label">GSTIN/UIN</span>
            <span class="addr-field-colon">:</span>
            <span class="addr-field-value">{{company.gstin}}</span>
          </div>
          <div class="addr-field-row">
            <span class="addr-field-label">State Name</span>
            <span class="addr-field-colon">:</span>
            <span class="addr-field-value">{{company.state}}{{#if company.state_code}}, <span class="field-key">Code :</span> {{company.state_code}}{{/if}}</span>
          </div>
        </div>

        <div class="addr-separator"></div>

        <!-- Block 2: Consignee / Ship To -->
        <div class="addr-block">
          <div class="addr-section-label">Consignee (Ship to)</div>
          <strong>{{ship_to.name}}</strong>
          {{#if ship_to.address_line_1}}<div class="addr-line">{{ship_to.address_line_1}}</div>{{/if}}
          <div class="addr-field-row">
            <span class="addr-field-label">GSTIN/UIN</span>
            <span class="addr-field-colon">:</span>
            <span class="addr-field-value">{{ship_to.gstin}}</span>
          </div>
          <div class="addr-field-row">
            <span class="addr-field-label">State Name</span>
            <span class="addr-field-colon">:</span>
            <span class="addr-field-value">{{ship_to.state}}{{#if ship_to.state_code}}, <span class="field-key">Code :</span> {{ship_to.state_code}}{{/if}}</span>
          </div>
        </div>

        <div class="addr-separator"></div>

        <!-- Block 3: Buyer / Bill To -->
        <div class="addr-block">
          <div class="addr-section-label">Buyer (Bill to)</div>
          <strong>{{party.name}}</strong>
          {{#if party.address_line_1}}<div class="addr-line">{{party.address_line_1}}</div>{{/if}}
          <div class="addr-field-row">
            <span class="addr-field-label">GSTIN/UIN</span>
            <span class="addr-field-colon">:</span>
            <span class="addr-field-value">{{party.gstin}}</span>
          </div>
          <div class="addr-field-row">
            <span class="addr-field-label">State Name</span>
            <span class="addr-field-colon">:</span>
            <span class="addr-field-value">{{party.state}}{{#if party.state_code}}, <span class="field-key">Code :</span> {{party.state_code}}{{/if}}</span>
          </div>
        </div>

      </td>

      <!-- RIGHT COLUMN: Invoice meta details -->
      <td class="meta-outer-cell">
        <table class="meta-table">
          <tr>
            <td class="meta-label">Invoice No.</td>
            <td class="meta-value"><strong>{{voucher_no}}</strong></td>
            <td class="meta-label">Dated</td>
            <td class="meta-value"><strong>{{format_date voucher_date}}</strong></td>
          </tr>
          <tr>
            <td class="meta-label">Delivery Note</td>
            <td class="meta-value">{{delivery_note}}</td>
            <td class="meta-label">Mode/Terms of Payment</td>
            <td class="meta-value">{{payment_terms}}</td>
          </tr>
          <tr>
            <td class="meta-label">Reference No. &amp; Date.</td>
            <td class="meta-value">{{reference}}</td>
            <td class="meta-label">Other References</td>
            <td class="meta-value">{{other_references}}</td>
          </tr>
          <tr>
            <td class="meta-label">Buyer's Order No.</td>
            <td class="meta-value">{{buyer_order_no}}</td>
            <td class="meta-label">Dated</td>
            <td class="meta-value">{{buyer_order_date}}</td>
          </tr>
          <tr>
            <td class="meta-label">Dispatch Doc No.</td>
            <td class="meta-value">{{dispatch_doc_no}}</td>
            <td class="meta-label">Delivery Note Date</td>
            <td class="meta-value">{{delivery_note_date}}</td>
          </tr>
          <tr>
            <td class="meta-label">Dispatched through</td>
            <td class="meta-value">{{dispatched_through}}</td>
            <td class="meta-label">Destination</td>
            <td class="meta-value">{{destination}}</td>
          </tr>
          <tr>
            <td class="meta-label" colspan="4">Terms of Delivery &nbsp; {{terms_of_delivery}}</td>
          </tr>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<!-- [BODY] -->
<table class="items-table">
  <thead>
    <tr class="items-thead-row">
      <th class="col-slno">Sl<br/>No.</th>
      <th class="col-desc">Description of Goods</th>
      <th class="col-hsn">HSN/SAC</th>
      <th class="col-qty">Quantity</th>
      <th class="col-rate">Rate</th>
      <th class="col-per">per</th>
      <th class="col-amount">Amount</th>
    </tr>
  </thead>
  <tbody class="items-tbody">
    {{#each items}}
    <tr class="item-row">
      <td class="center">{{increment @index}}</td>
      <td>
        <strong>{{product_name}}</strong>
        {{#if description}}<br/><small class="item-desc">{{description}}</small>{{/if}}
      </td>
      <td class="center">{{hsn_sac_code}}</td>
      <td class="right">{{format_number initial_quantity 2}}</td>
      <td class="right">{{format_number rate 2}}</td>
      <td class="center">{{unit}}</td>
      <td class="right">{{format_number amount 2}}</td>
    </tr>
    {{/each}}

    <!-- Spacer: 7 individual cells so column dividers continue through empty space -->
    <tr class="spacer-row">
      <td class="sp-slno"></td>
      <td class="sp-desc"></td>
      <td class="sp-hsn"></td>
      <td class="sp-qty"></td>
      <td class="sp-rate"></td>
      <td class="sp-per"></td>
      <td class="sp-amount"></td>
    </tr>

    <!-- GST sub-rows: intra-state CGST + SGST -->
    <!-- Use individual cells (not colspan) so column dividers stay continuous -->
    {{#unless is_inter_state}}
    {{#if gst_enabled}}
    {{#if has_cgst}}
    <tr class="tax-row">
      <td class="sp-slno"></td>
      <td class="sp-desc"></td>
      <td class="sp-hsn"></td>
      <td class="sp-qty"></td>
      <td class="sp-rate"></td>
      <td class="right tax-label"><em>CGST</em></td>
      <td class="right">{{format_number cgst_total 2}}</td>
    </tr>
    {{/if}}
    {{#if has_sgst}}
    <tr class="tax-row">
      <td class="sp-slno"></td>
      <td class="sp-desc"></td>
      <td class="sp-hsn"></td>
      <td class="sp-qty"></td>
      <td class="sp-rate"></td>
      <td class="right tax-label"><em>SGST</em></td>
      <td class="right">{{format_number sgst_total 2}}</td>
    </tr>
    {{/if}}
    {{/if}}
    {{/unless}}

    <!-- GST sub-row: inter-state IGST -->
    {{#if is_inter_state}}
    {{#if gst_enabled}}
    {{#if has_igst}}
    <tr class="tax-row">
      <td class="sp-slno"></td>
      <td class="sp-desc"></td>
      <td class="sp-hsn"></td>
      <td class="sp-qty"></td>
      <td class="sp-rate"></td>
      <td class="right tax-label"><em>IGST</em></td>
      <td class="right">{{format_number igst_total 2}}</td>
    </tr>
    {{/if}}
    {{/if}}
    {{/if}}

    <!-- Total row -->
    <tr class="total-row">
      <td colspan="3" class="right"><strong>Total</strong></td>
      <td class="right"><strong>{{total_quantity_display}}</strong></td>
      <td colspan="2"></td>
      <td class="right"><strong>&#8377; {{format_number grand_total 2}}</strong></td>
    </tr>
  </tbody>
</table>

<!-- Amount chargeable in words -->
<div class="amount-words-bar">
  <span class="amount-words-label">Amount Chargeable (in words)</span>
  <span class="eoe">E. &amp; O.E</span>
</div>
<div class="amount-words-value">
  <strong>{{grand_total_words}}</strong>
</div>

{{#if gst_enabled}}
<!-- HSN/SAC-wise Tax Breakup -->
<table class="hsn-table">
  <thead>
    <tr class="hsn-header-row">
      <th rowspan="2" class="hsn-col-code">HSN/SAC</th>
      <th rowspan="2" class="hsn-col-taxable">Taxable<br/>Value</th>
      {{#unless is_inter_state}}
      <th colspan="2" class="hsn-group-header">Central Tax</th>
      <th colspan="2" class="hsn-group-header">State Tax</th>
      {{else}}
      <th colspan="2" class="hsn-group-header">Integrated Tax</th>
      {{/unless}}
      <th rowspan="2" class="hsn-col-total">Total<br/>Tax Amount</th>
    </tr>
    <tr class="hsn-sub-header-row">
      {{#unless is_inter_state}}
      <th class="hsn-col-rate">Rate</th>
      <th class="hsn-col-amt">Amount</th>
      <th class="hsn-col-rate">Rate</th>
      <th class="hsn-col-amt">Amount</th>
      {{else}}
      <th class="hsn-col-rate">Rate</th>
      <th class="hsn-col-amt">Amount</th>
      {{/unless}}
    </tr>
  </thead>
  <tbody>
    {{#each hsn_summary}}
    <tr>
      <td class="center">{{hsn_sac_code}}</td>
      <td class="right">{{format_number taxable_value 2}}</td>
      {{#unless @root.is_inter_state}}
      <td class="center">{{format_number cgst_rate 2}}%</td>
      <td class="right">{{format_number cgst_amount 2}}</td>
      <td class="center">{{format_number sgst_rate 2}}%</td>
      <td class="right">{{format_number sgst_amount 2}}</td>
      {{else}}
      <td class="center">{{format_number igst_rate 2}}%</td>
      <td class="right">{{format_number igst_amount 2}}</td>
      {{/unless}}
      <td class="right">{{format_number total_tax 2}}</td>
    </tr>
    {{/each}}
    <tr class="hsn-total-row">
      <td><strong>Total</strong></td>
      <td class="right"><strong>{{format_number taxable_total 2}}</strong></td>
      {{#unless is_inter_state}}
      <td></td>
      <td class="right"><strong>{{format_number cgst_total 2}}</strong></td>
      <td></td>
      <td class="right"><strong>{{format_number sgst_total 2}}</strong></td>
      {{else}}
      <td></td>
      <td class="right"><strong>{{format_number igst_total 2}}</strong></td>
      {{/unless}}
      <td class="right"><strong>{{format_number tax_total 2}}</strong></td>
    </tr>
  </tbody>
</table>

<div class="tax-words-bar">
  <strong>Tax Amount (In words) : {{tax_total_words}}</strong>
</div>
{{/if}}

<!-- [FOOTER] -->
<div class="declaration-signature-row">
  <div class="declaration-block">
    <div class="declaration-title">Declaration</div>
    <div class="declaration-text">We declare that this invoice shows the actual price of the goods
    described and that all particulars are true and correct.</div>
  </div>
  <div class="signature-block">
    <div class="for-company">for <strong>{{company.name}}</strong></div>
    <div class="signature-space"></div>
    <div class="authorised-label">Authorised Signatory</div>
  </div>
</div>

<div class="page-foot">This is a Computer Generated Invoice</div>

</div>{{! closes invoice-wrapper }}
